@font-face {
    font-family: 'FromtheWoods';
    src: url('../fonts/FromtheWoods-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitePine';
    src: url('../fonts/WhitePine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackRough';
    src: url('../fonts/SonderSans-BlackRough.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signature';
    src: url('../fonts/ArtySignature.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url('../fonts/Moon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body, html {
    height: 100%;
    background-image: url("../images/Lake.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Main';
}

/* Nav Bar Styling Start */

#collapsibleNavbar {
    margin-top: 4px;
}

.navbar-toggler  {
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 4px 1px 4px;
    border: none;
}

.nav-link {
    color: rgba(91, 163, 0, 1) !important;
    opacity: 0.9;
    padding: 0px 8px 0px 8px;
    font-family: 'WhitePine', monospace;
    /* font-weight: bolder; */
    font-size: 20px;
}

li.nav-item:hover {
    background-color: white;
    border-radius: 10px;
    border-color: #5BA300 !important;
    border: solid 2px;
    
}

li.nav-item {
    transition-timing-function: ease-out;
    padding: 4px 15px 4px 15px;
}

.navbar-nav {
    border-radius:10px;
    background-color: rgba(255,255,255,0.9);
    display: inline-block
}

#navIcon {
    height: 32px;
    width:32px;
}

button:focus {
    outline-color: rgba(91, 163, 0, 1);
    outline-style: auto;
    outline-width: 5px;
}

/* Nav Bar Styling End */

/* Contact Me Styling Start */
#sig {
    font-family: 'Signature', monospace;
    font-size: 55px;
}

.headers {
    font-family: 'WhitePine', monospace;
    font-weight: bold;
}

.modal-header {
    padding: 13px 16px 13px 16px;
}

/* Contact Me Styling End */

/* Project Area */
.thumbnail {
    position: relative;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: -8%;
    left: 0;
    width: 100%;
    color: #ffffff;
    line-height: 40px;
    /* opacity: 0.9; */
    /* max-width: none; 
    add border , img-responsive, settings check screenshots
    */
}

.title {
    position: absolute;
    bottom: 92%;
    left: 12.5%;
    width: 75%;
    color: #ffffff;
    height: 13%;
    background: rgb(193, 154, 107);
    border: solid white 3px;
    border-radius: 10px;
    text-align: center;

}

.projectTitle {
    font-family: 'WhitePine', monospace;
    width: 100%;
    height: 100%;
    margin: 0;
}

.img-thumbnail {
    height: 265px;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
}

#projects {
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1% 2% 2% 2%;
    margin-top: 7%
}
