@font-face {
    font-family: 'FromtheWoods';
    src: url('../fonts/FromtheWoods-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitePine';
    src: url('../fonts/WhitePine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackRough';
    src: url('../fonts/SonderSans-BlackRough.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signature';
    src: url('../fonts/ArtySignature.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url('../fonts/noway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.col-md-10 {
    max-width: 95%;
} 

html, body {
    font-family: 'Main';
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ------------------------------- Nav Bar Styling Start ------------------------------------ */

#collapsibleNavbar {
    margin-top: 4px;
}

.navbar {
    width: 205px;
}

.navbar-toggler  {
    background-color: white;
    padding: 1px 4px 1px 4px;
    border: none;
}

.navbar-toggler.collapsed {

}

.nav-link {
    color: rgba(91, 163, 0, 1) !important;
    opacity: 0.9;
    padding: 0px 8px 0px 8px;
    font-family: 'WhitePine', monospace;
    font-size: 20px;
}

.navHighlight {
    background-color: white;
    border-radius: 10px;
    border-color: #5BA300 !important;
    border: solid 2px;   
}

li.nav-item:hover {
    background-color: white;
    border-radius: 10px;
    border-color: #5BA300 !important;
    border: solid 2px;
    
}

li.nav-item {
    transition-timing-function: ease-out;
    padding: 4px 15px 4px 15px;
}

.navbar-nav {
    border-radius:10px;
    background-color: rgba(255,255,255,0.9);
    vertical-align: top-block
}

#navIcon {
    height: 32px;
    width:32px;
}

button:focus {
    outline-color: rgba(91, 163, 0, 1);
    outline-style: auto;
    outline-width: 5px;
    outline-style: 'border-radius: 10px';
}

.navbar

/* ----------------------------- Nav Bar Styling End ------------------------------------ */


/* -------------------------- Contact Me Styling Start ------------------------------------*/

#sig {
    font-family: 'Signature', monospace;
    font-size: 55px;
}

.headers {
    font-family: 'BlackRough', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
}

.headersMinor {
    font-family: 'BlackRough', monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header {
    padding: 13px 16px 13px 16px;
}

/* ------------------------------ Contact Me Styling End -------------------------------------- */

/* ---------------------------------- Project Area  Start-------------------------------------- */
.projectBG {
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    height:80%;
}

.projectDesc {
    font-weight: bolder;
}

.projectScroll{
    height: auto;
    /* display: block; */
    max-height: 85%;
    overflow-y:scroll;
}

.thumbnail {
    position: relative;
    text-align: center;
}

.projectTitle {
    font-family: 'BlackRough', monospace;
    vertical-align: middle !important;
}

.img-thumbnailProj {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#projects {
    /* background-color:rgba(255,255,255,0.5); */
    border-radius: 5px;
}

/*------------------------------------ Project Area End ----------------------------------------  */

/* ----------------------------------- Welcome Start -------------------------------------------- */

.greetingText {
    font-weight: bolder;
    /* margin-left: 2%; */
    font-family: 'Main';
}

.standardBG {
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
}

.greetingBG{
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    width: 50%;
}

.startHeader {
    font-family: 'BlackRough', monospace;
}

.img-thumbnailMe {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

/* Welcome End */

/* Blog Page Start */
.blogImages {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    object-fit: cover;
}

/* Blog Page End */

/* Values Section Start */
.valueIcons {
    height: auto;
    width: 80px;
    border-radius: 10px;
    margin: auto;
    /* padding: 3px; */
}

.valueColumnSpacing {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

/* Values Section End */

/* -------------------------Technologies Section Start ---------------------------------- */
.hardSoftIcons {
    height: auto;
    width: 100px;
    border-radius: 10px;
    padding: 3px;
}

/* ------------------------ Technologies Section End ------------------------------------ */

/* ------------------------- Side Profile Scroll Section Start -------------------------- */
.makeItStick {
    position: fixed;
    left: 0;
    top: 24em;
}

.nameHeader {
    font-family: 'BlackRough', monospace;
    font-weight: bold;
    margin-top: 0.5em;
}

.sideProfBG{
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin-left: 4%;
    height: auto;
    width: 20%;
}

.sideProText {
    font-weight: bolder;
    text-align: center;
    /* margin-left: 2%; */
    font-family: 'Main';
}

/* remove scroll bars */
::-webkit-scrollbar {
    display: none;
  }

/* Footer Start */

footer {
    background: transparent !important;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Footer End */

/* -------------------------------------- Magic Scroll Section Start ------------------------------------------ */

/* Scroll Snap */
.panel {
    height: 100vh;
	width: 100vw;
}

#sideCard {
    /* margin-bottom: -100px; */
    /* opacity: 0; */
    /* transition-timing-function: ease-in; */
    /* animation: fadein 2s; */
    
}

.zap {
    /* animation: fadeout 2s; */
    /* visibility: hidden; */
    opacity: 1 !important;
    transition: opacity 0.5s linear;
    /* visibility: visible !important; */
}

.panel.two, .panel.three, .panel.four, .panel.five {
    /* margin-bottom:300px; */
}

.break {
    height: 20em;
    z-index: -2;
    background: #ffffff;
    }

.one {
    min-height: 100%;
    background-image: url("../images/BGs/leavenworth.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    z-index: -2;
    }

.two {
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-image: url("../images/BGs/waterfallBG.jpg");
    display: flex;
    align-items: center;
    z-index: -2;
    }

.three {
    align-items: center;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/BGs/victoria.jpg");
    display: flex;
    align-items: center;
    z-index: -2;
    }

.four {
    align-items: center;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/BGs/whistler.jpg");
    display: flex;
    align-items: center;
    z-index: -2;
    }

.five {
    align-items: center;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/BGs/rasar.jpg");
    display: flex;
    align-items: center;
    z-index: -2;
    }

  /* Scroll Snap End */

  @media only screen and (max-width: 767px) {
    .greetingBG {
      text-align: center;
      width: auto;
    }
    .sideProfBG {
        margin: auto;
        display: none;
    }

  }