@font-face {
    font-family: 'FromtheWoods';
    src: url('../fonts/FromtheWoods-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitePine';
    src: url('../fonts/WhitePine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackRough';
    src: url('../fonts/SonderSans-BlackRough.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signature';
    src: url('../fonts/ArtySignature.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url('../fonts/Moon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body, html {
    height: 100%;
    background-image: url("../images/Lake.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Main';
}

body {
    scroll-snap-type: y mandatory;
}

/* Nav Bar Styling Start */

#collapsibleNavbar {
    margin-top: 4px;
}

.navbar-toggler  {
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 4px 1px 4px;
    border: none;
}

.nav-link {
    color: rgba(91, 163, 0, 1) !important;
    opacity: 0.9;
    padding: 0px 8px 0px 8px;
    font-family: 'WhitePine', monospace;
    /* font-weight: bolder; */
    font-size: 20px;
}

.nav-linkP {
    color: rgba(91, 163, 0, 1) !important;
    font-family: 'WhitePine', monospace;
    /* font-weight: bolder; */
    /* font-size: 20px; */
    padding: 0;
}

.nav-linkP:focus {
    font-weight: bolder;
}

li.nav-item:hover {
    background-color: white;
    border-radius: 10px;
    border-color: #5BA300 !important;
    border: solid 2px;
    
}

li.nav-item {
    transition-timing-function: ease-out;
    padding: 4px 15px 4px 15px;
}

.navbar-nav {
    border-radius:10px;
    background-color: rgba(255,255,255,0.9);
    display: inline-block
}

#navIcon {
    height: 32px;
    width:32px;
}

button:focus {
    outline-color: rgba(91, 163, 0, 1);
    outline-style: auto;
    outline-width: 5px;
}

/* Nav Bar Styling End */

/* About me Styling Start */

.aboutmeText {
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
}

/* About me Styling End */


/* Contact Me Styling Start */
#sig {
    font-family: 'Signature', monospace;
    font-size: 55px;
}

.headers {
    font-family: 'BlackRough', monospace;
    font-weight: bold;
    text-align: center;
}

.modal-header {
    padding: 13px 16px 13px 16px;
}

/* Contact Me Styling End */

/* Project Area */
.thumbnail {
    position: relative;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: -8%;
    left: 0;
    width: 100%;
    color: #ffffff;
    line-height: 40px;
    /* opacity: 0.9; */
    /* max-width: none; 
    add border , img-responsive, settings check screenshots
    */
}

.title {
    position: absolute;
    bottom: 92%;
    left: 12.5%;
    width: 75%;
    color: #ffffff;
    height: 13%;
    background: rgb(193, 154, 107);
    border: solid white 3px;
    border-radius: 10px;
    text-align: center;

}

.projectTitle {
    font-family: 'WhitePine', monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: middle !important;
}

.img-thumbnail {
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
}

#projects {
    background-color:rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 1% 2% 2% 2%;
    margin-top: 7%
}

/* Welcome STart */

.greetingText {
    font-weight: bolder;
    font-size: 20px;
    margin: 0% 2% 0% 2%;
}

.standardBG {
    background-color:rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 1% 2% 2% 2%;
    margin-top: 7%;
}

.startHeader {
    /* width:100%; */
    text-align: center;
    font-family: 'BlackRough', monospace;
    font-size: 3em;
}

.tree {
    height: 70px;
    width: auto;
    display: inline-block;
    position: relative;
}

.img-thumbnailMe {
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 3px;
}

/* Welcome End */

/* Blog Page Start */
.blogImages {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    object-fit: cover;
}

/* Blog Page End */

/* Values Section Start */
.icons {
    height: auto;
    width: 80px;
    border-radius: 10px;
    /* padding: 3px; */
}
/* Values Section End */

/* Technologies Section Start */
.hardSoftIcons {
    height: auto;
    width: 100px;
    border-radius: 10px;
    padding: 3px;
}

/* Technologies Section End */


/* Scroll Snap */
.one {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    min-height: 100%;
}

.two {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    min-height: 100%;
}

.three {
    height: 100vh;
    scroll-snap-align: start;
}

.five {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    min-height: 100%;
}

.six {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    min-height: 100%;
}

  /* Scroll Snap End */